h1{text-align: center;
   color: orangered;}
h2{ text-align: center;
   color: orangered;}
body{
   background-color: aqua;
   background: -o-linear-gradient(orange);
}
h3{text-align: center;
   color: orangered;}
p{text-align: center;
   color: saddlebrown;}
ul{
   color: saddlebrown;}